
<div class="menu-item">
    <a class="menu-link without-sub" routerLink="/client" routerLinkActive="active"><span class="menu-icon">
      <span [inlineSVG]="'./assets/media/icons/duotune/general/gen058.svg'" class="svg-icon svg-icon-2"></span>
    </span><span class="menu-title">Cliente</span></a>
</div>
<div class="menu-item">
    <a class="menu-link without-sub" routerLink="/company" routerLinkActive="active"><span class="menu-icon">
      <span [inlineSVG]="'./assets/media/icons/duotune/general/gen057.svg'" class="svg-icon svg-icon-2"></span>
    </span><span class="menu-title">Empresa</span></a>
</div>
